html {
  box-sizing: border-box;
  font-size: 16px;

  --grey: rgb(88, 88, 88);
  --blue: rgb(79, 179, 226);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

#main-grid {
  display: grid;
  grid-template-rows: 20% 85%;
  grid-template-columns: max(200px, 20vw) auto;
  grid-template-areas:
    "sidebar header"
    "sidebar content";
}

#sidebar {
  grid-area: sidebar;
  background-color: var(--blue);

  display: grid;
  grid-template-rows: max(12vh, 80px) 2vh auto;
}

#header {
  grid-area: header;
  background-color: whitesmoke;

  display: grid;
  grid-template: 40% 60% / 60% 40%;
}

#main-content {
  grid-area: content;
  background-color: lightgray;

  padding: 24px 18px 24px 12px;

  display: grid;
  gap: 16px;
  grid-template: 1fr 10fr 1fr 10fr / 3fr 1fr;
}

#main-projects {
  grid-area: 2 / 1 / 5 / 2;
  display: grid;
  gap: 18px;
  grid-template: repeat(3, 1fr) / repeat(2, 1fr);
}

#main-announcements {
  grid-area: 1 / 2 / 2 / 3;
}

#trending-panel {
  grid-area: 2 / 2 / 3 / 3;
}

#main-trending {
  grid-area: 3 / 2 / 4 / 3;
}

#trending-panel {
  grid-area: 4 / 2 / 5 / 3;
}

#search {
  border-radius: 10px;
  background-color: grey;
  border: none;
  width: 75%;
}

#search-img {
  transition: all 0.5s;
}

#search-img:hover {
  transform: rotate(-360deg);
  scale: 125%;
}

#sidebar {
  padding-left: 20px;
}

#side-options {
  display: flex;
  flex-direction: column;
  gap: min(20px, 10vh);
  padding-left: 8px;
}

#side-icon {
  display: flex;
  align-items: center;
}

#side-icon > img {
  filter: invert(98%);
  padding-right: 10px;
  width: 48px;
}

#side-icon > h3 {
  color: white;
  font-size: larger;
  font-weight: bold;
}

#main-user-icon {
  width: 64px;
}

#announcements-panel {
  padding: 20px;
}

#trending-panel {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-evenly;
}

#bell-icon {
  transition: all 0.1s;
}

#bell-icon:hover {
  scale: 115%;
}

#bell-icon:active {
  transform: rotate(-45deg);
  scale: 125%;
}

.center-margin {
  display: flex;
  margin: 10px;
  height: calc(100% - 20px);
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 20px;
}

.grid-stack {
  display: grid;
  justify-items: baseline;
  height: 100%;
}

.clean {
  margin: 0;
  padding: 0;
}

.panel {
  background-color: white;
  height: 1fr;
  border-radius: 10px;
}

.project {
  display: flex;
  background-color: white;
  border-radius: 8px;
  height: minmax(150px, 20vh, auto);
}

.project-side-label {
  width: 8px;
  height: 100%;
  background-color: gold;

  border-radius: 8px 0 0 8px;
}

.project-content {
  width: 100%;
  padding: 12px;
  display: flex;
  flex-direction: column;
}

.project-title {
  font-weight: bold;
}

.project-content > p:not(.project-title) {
  font-size: 14px;
  color: var(--grey);
}

.project-options {
  display: flex;
  align-self: flex-end;
  gap: 10px;
  flex-grow: 1;
  padding-top: 12px;
  transition: all 0.5s;
}

.project-options > img {
  align-self: flex-end;
  cursor: pointer;
  transition: all 0.5s;
}

.project-options > img:hover {
  filter: invert(50%);
  scale: 125%;
}

.project-options > img:active {
  transform: rotate(-360deg);
}

.announcement-title {
  font-weight: bold;
}

.announcement-text {
  font-size: small;
  color: var(--grey);
}

.sidebar-option {
  display: flex;
  align-items: center;
  gap: 8px;
  height: min(42px, 8vh);
  transition: all 0.2s;
}

.sidebar-option:hover {
  cursor: pointer;
  scale: 110%;
}

.sidebar-option > img {
  width: 24px;
  filter: invert(98%);
}

.sidebar-option > h5 {
  font-size: large;
  font-weight: bold;
  color: white;
  transition: all 0.5s;
}

.user-handle {
  display: flex;
}

.user-handle > img {
  margin-right: 8px;
}

.user-tools-button {
  background-color: var(--blue);
  color: white;

  border-radius: 15px;
  border-style: none;
  width: 8vw;
  height: 30px;

  transition: all 0.2s;
}

.user-tools-button:hover {
  background-color: white;
  color: var(--blue);
  border: 2px solid var(--blue);

  padding-bottom: 3px;
  height: 25px;
  margin-bottom: 5px;

  box-shadow: 0 3px 3px 1px gray;

  cursor: pointer;
}

.user-message {
  padding-bottom: 1vh;
  font-size: small;
  font-weight: bold;
}

.user-main {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.user-main-name {
  padding-bottom: 2vh;
  font-weight: bold;
}

.line {
  background-color: black;
  height: 1px;
  width: 1fr;
  margin: 10px 0;
}

h4 {
  font-weight: bold;
}
